.container-produto {
  max-width: 1180px;
  padding: 20px;
  background: white;
  margin: 20px auto;
  display: flex;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0,0,0,.4);
}

.container-produto > * {
  flex: 1;
  margin: 20px;
}
.container-produto * {
  border-radius: 5px;
}
.container-produto :last-child {
  flex: 2;
}
.imagem-fake,
.botao-fake,
.titulo-fake,
.preco-fake,
.descricao-fake {
  background: var(--gradiente-loading);
  background-size: 1000% 100%;
  background-repeat: no-repeat;
  animation: var(--config-animacao-gradiente);
}

.informacoes > * ~ * {
  margin-top: 20px;
}

.imagem-fake {
  height: 400px;
}

.titulo-fake {
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
}

.preco-fake {
  height: 40px;
  width: 100px;
}

.descricao-fake {
  height: 150px;
}

.botoes-fake {
  display:flex;
  justify-content: flex-start;
}

.botao-fake {
  min-width: 150px;
  max-width: 150px;
  height: 50px;
  margin-right: 20px;
}

/* Produto */

.imagem-produto img {
  width: auto;
  max-height: 100%;
  max-width: 100%;
}

.imagem-produto {
  height: 400px;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: 100%;
}

.container-produto .titulo-produto {
  font-size: 2.1rem;
  color: var(--cinza1);
}

.container-produto .preco-produto {
  font-size: 2.1rem;
  color: var(--laranja1);
  font-weight: bold;
}

.descricao-produto {
  font-size: 1rem;
  color: var(--cinza3);
}

.botoes {
  display: flex;
  justify-content: flex-start;
  margin-top: 40px;
}

.botoes a {
  text-decoration: none;
  padding: 10px 15px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  display: flex;
  max-width: 160px;
  align-items: center;
  margin-right: 20px;
}
.botoes a :first-child {
  font-size: 1.8rem;
  margin-right: 5px;
}

.comprar {
  background: var(--laranja1);
}

.adicionar {
  background: var(--lilas2);
}
